<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">   </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Currently* I am working as a postdoctoral researcher in RIKEN's Interdisciplinary Theoretical and Mathematical Sciences Program (iTHEMS).</p>

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Work history</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">   </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Until October 2023, I worked as a JSPS fellow in theoretical astrophysics, in the Department of Physics at Kyoto University.</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">During Oct 2020-Sept 2021, I developed the Bioconductor package <a href="http://bioconductor.org/packages/release/bioc/vignettes/synapsis/inst/doc/synapsis_tutorial.html">synapsis</a> under the supervision of Dr. Wayne Crismani. </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">In May 2021 I was awarded a PhD in astrophysics from Monash University in Melbourne, under the supervision of Dr. Bernhard M&uumlller.</p>


<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
